<html>
<head>
<title>LOST PASSWORD</title>
    <link rel="stylesheet" type="text/css" href="/css/signupstyle.css">
    <style type="text/css">
    	.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: calc(50% - 50px);
}
    </style>
<body>
   
     <img src="/img/pic2.jpg" class="z">
    <div class="loginbox">
    <img src="/img/avatar.png" class="avatar">
        <h1> PASSWORD RECOVERY</h1>
        <form action="/users/lost" method="post">
            <p>ENTER MAIL</p>
            <input type="text" name="email" placeholder="abc***@gmail.com">
            <input type="submit" placeholder ="submit">
    </form>

</body>
</head>
</html>